.page-image {
    background-image: url('../../images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: -8px;
}

.page-gradient {
    background: linear-gradient(45deg, rgba(94,3,91,1) 0%, rgba(120,0,134,0.9) 25%, rgba(131,29,178,0.8) 50%, rgba(220,71,234,0.9) 85%, rgba(253,153,250,1) 100%);    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}